@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
    text-decoration: none;
}

:root{
    --main-color: #fd4646;
    --text-color: #02ac70;
    --bg-color: #fff;
    --container-color: #1e1e2a;
}

a, body{
    color: var(--bg-color);
}

body{
    background: var(--container-color);
}

header{
    display: flex;
    margin-bottom: 10%;
}

img{
    width: 100%;
}

section{
    padding: 3%;
}

.btn-buy{
    border-radius: 13px;
    background-color: var(--text-color);
    border: none;
    color: #eeeeee;
    font-style: italic;
    padding: 3% 9%;
}

.cart{
    display: none;
    margin: auto 2% auto auto;
    padding: 4%;
    position: fixed;
    right: 0;
    text-align: center;
    width: 30%;
}

.cart-box{
    display: flex;
    gap: 5%;
}

#cart-icon::after{
    background-color: var(--text-color);
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    left: 7px;
    position: relative;
    top: -35px;
    width: 20px;
}

.cart-img{
    object-fit: cover;
    width: 55%;
}

.cart-title{
    margin-bottom: 7%;
}

.cart-quantity{
    width: -webkit-fill-available;
}

.close-cart{
    right: 0;
    position: absolute;
}

.detail-box{
    margin-bottom: 6%;
    text-align: left;
    width: 40%;
}

.detail-box div, .detail-box input{
    margin-bottom: 5%;
}

.logo{
    color: var(--bg-color);
    font-size: 1.1rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 4%;
    position: absolute;
    top: 0;
    width: 100%;
}

.product-box{
    display: inline-block;
    margin: 2%;
    width: 20%;
}

.sc-btn{
    display: block;
    color: var(--text-color);
}

.sc-container{
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

.sc-img{
    width: 200px;
}

.shop-content{
    text-align: center;
}

.total{
    display: flex;
}

.total-title, .logo{
    font-weight: 600;
}